/*Á*/
* {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: black;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

a {
	outline: 0;
}

div.principal {
	background-color: #EAF8FF;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;	/* Evita que se colapse con la DIV anidada */
	overflow-x: hidden;
}

div.header {
	border: 1px solid black;
	height: 150px;
	overflow: hidden;
}

div.header_logo {
	float: left;
}

img.header_logo {
	border: 0px;
}

div.header_titulo_opciones {
	
}

div.header_titulo {
	
}

p.header_titulo {
	text-align: center;
}

span.header_titulo {
	font-size: 62pt;
	font-style: italic;
}

div.header_opciones {
	margin-top: 20px;
}

div.header_opciones_opcion_usuario_logeado {
	float: left;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
}

p.header_opciones_opcion_usuario_logeado {
	
}

span.header_opciones_opcion_usuario_logeado {
	font-weight: bold;
}

div.header_opciones_opcion {
	background-color: orange;
	float: left;
	border: 2px solid red;
	padding: 2px 2px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	margin-left: 5px;
}

a.header_opciones_opcion {
	font-weight: bold;
	text-decoration: none;
}

div.main {
	border: 1px solid black;
}

div.main_home_titulo_principal {
	text-align: center;
}

p.main_home_titulo_principal {
	margin-top: 6px;
	margin-bottom: 6px;
}

span.main_home_titulo_principal {
	font-size: 14pt;
}

div.main_home_avisos {
	
}

div.main_home_avisos_aviso {
	clear: both;
	height: 85px;
	border-top: 1px solid black;
	overflow: hidden;
}

div.main_home_avisos_aviso_destacado {
	background-color: #FFFF88;
}

div.main_home_avisos_aviso_foto {
	float: left;
	height: 85px;
	width: 85px;
	text-align: right;
	border-right: 1px solid black;
}

img.main_home_avisos_aviso_foto {
	border: 0px;
}

div.main_home_avisos_aviso_textos {
	float: left;
	width: 915px;
	margin-left: 10px;
	overflow: hidden;
	height: 85px;
}

p.main_home_avisos_aviso_textos_titulo {
	text-align: justify;
	line-height: 1em;
	margin-top: 5px;
}

a.main_home_avisos_aviso_textos_titulo {
	font-size: 12pt;
	font-weight: bold;
	color: blue;
}

p.main_home_avisos_aviso_textos_fecha {
	line-height: 1em;
	margin-top: 5px;
}

span.main_home_avisos_aviso_textos_fecha {
	
}

p.main_home_avisos_aviso_textos_descripcion {
	margin-top: 5px;
	line-height: 1em;
}

span.main_home_avisos_aviso_textos_descripcion {
	color: green;
}

div.main_home_paginador {
	clear: both;
	border-top: 1px solid black;
}

p.main_home_paginador {
	text-align: center;
}

a.main_home_paginador {
	margin-right: 10px;
	font-weight: bold;
}

a.main_home_paginador_seleccionada {
	color: green;
}

div.main_registrarse_titulo_principal {
	text-align: center;
}

p.main_registrarse_titulo_principal {
	margin-top: 6px;
	margin-bottom: 6px;
}

span.main_registrarse_titulo_principal {
	font-size: 14pt;
}

div.main_registrarse_errores {
	
}

p.main_registrarse_errores {
	text-align: center;
}

span.main_registrarse_errores {
	font-weight: bold;
	color: red;
}

div.main_registrarse_formulario {
	/*overflow: hidden;*/
}

div.main_registrarse_formulario_fila {
	overflow: hidden;
}

div.main_registrarse_formulario_fila_nombre_campo {
	float: left;
	width: 512px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	/*overflow: hidden;*/
}

p.main_registrarse_formulario_fila_nombre_campo {
	text-align: right;
}

span.main_registrarse_formulario_fila_nombre_campo {
	font-size: 14pt;
}

div.main_registrarse_formulario_fila_campo {
	float: left;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	margin-left: 5px;
}

input.main_registrarse_formulario_fila_campo {
	height: 25px;
	border: 1px solid black;
	font-size: 12pt;
	background-color: transparent;
	width: 250px;
}

div.main_registrarse_formulario_fila_campo_borde_select {
	border: 1px solid black;
	height: 25px;
	line-height: 25px;
	vertical-align: top;
	float: left;
	overflow: hidden;
	margin-top: 1px;
}

select.main_registrarse_formulario_fila_campo {
	height: 25px;
	border: 0px;
	font-size: 12pt;
	background-color: #EAF8FF;
}

option.main_registrarse_formulario_fila_campo {
	font-size: 12pt;
	background-color: #EAF8FF;
}

div.main_registrarse_formulario_fila_submit {
	overflow: hidden;
	text-align: center;
}

input.main_registrarse_formulario_fila_campo_submit {
	height: 25px;
	border: 1px solid black;
	font-size: 12pt;
	background-color: #EEEEEE;
}

div.main_recuperar_clave_titulo_principal {
	text-align: center;
}

p.main_recuperar_clave_titulo_principal {
	margin-top: 6px;
	margin-bottom: 6px;
}

span.main_recuperar_clave_titulo_principal {
	font-size: 14pt;
}

div.main_recuperar_clave_errores {
	
}

p.main_recuperar_clave_errores {
	text-align: center;
}

span.main_recuperar_clave_errores {
	font-weight: bold;
	color: red;
}

div.main_recuperar_clave_formulario {
	/*overflow: hidden;*/
}

div.main_recuperar_clave_formulario_fila {
	overflow: hidden;
}

div.main_recuperar_clave_formulario_fila_nombre_campo {
	float: left;
	width: 512px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	/*overflow: hidden;*/
}

p.main_recuperar_clave_formulario_fila_nombre_campo {
	text-align: right;
}

span.main_recuperar_clave_formulario_fila_nombre_campo {
	font-size: 14pt;
}

div.main_recuperar_clave_formulario_fila_campo {
	float: left;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	margin-left: 5px;
}

input.main_recuperar_clave_formulario_fila_campo {
	height: 25px;
	border: 1px solid black;
	font-size: 12pt;
	background-color: transparent;
	width: 250px;
}

div.main_recuperar_clave_formulario_fila_submit {
	overflow: hidden;
	text-align: center;
}

input.main_recuperar_clave_formulario_fila_campo_submit {
	height: 25px;
	border: 1px solid black;
	font-size: 12pt;
	background-color: #EEEEEE;
}

div.main_ingresar_titulo_principal {
	text-align: center;
}

p.main_ingresar_titulo_principal {
	margin-top: 6px;
	margin-bottom: 6px;
}

span.main_ingresar_titulo_principal {
	font-size: 14pt;
}

div.main_ingresar_errores {
	
}

p.main_ingresar_errores {
	text-align: center;
}

span.main_ingresar_errores {
	font-weight: bold;
	color: red;
}

div.main_ingresar_formulario {
	/*overflow: hidden;*/
}

div.main_ingresar_formulario_fila {
	overflow: hidden;
}

div.main_ingresar_formulario_fila_nombre_campo {
	float: left;
	width: 512px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	/*overflow: hidden;*/
}

p.main_ingresar_formulario_fila_nombre_campo {
	text-align: right;
}

span.main_ingresar_formulario_fila_nombre_campo {
	font-size: 14pt;
}

div.main_ingresar_formulario_fila_campo {
	float: left;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	margin-left: 5px;
}

input.main_ingresar_formulario_fila_campo {
	height: 25px;
	border: 1px solid black;
	font-size: 12pt;
	background-color: transparent;
	width: 250px;
}

div.main_ingresar_formulario_fila_olvido_clave {
	
}

p.main_ingresar_formulario_fila_olvido_clave {
	text-align: center;
}

span.main_ingresar_formulario_fila_olvido_clave,a.main_ingresar_formulario_fila_olvido_clave {
	font-weight: bold;
}

a.main_ingresar_formulario_fila_olvido_clave {
	color: blue;
}

div.main_ingresar_formulario_fila_submit {
	overflow: hidden;
	text-align: center;
}

input.main_ingresar_formulario_fila_campo_submit {
	height: 25px;
	border: 1px solid black;
	font-size: 12pt;
	background-color: #EEEEEE;
}

div.main_publicar_titulo_principal {
	text-align: center;
}

p.main_publicar_titulo_principal {
	margin-top: 6px;
	margin-bottom: 6px;
}

span.main_publicar_titulo_principal {
	font-size: 14pt;
}

div.main_publicar_errores {
	
}

p.main_publicar_errores {
	text-align: center;
}

span.main_publicar_errores {
	font-weight: bold;
	color: red;
}

div.main_publicar_formulario {
	/*overflow: hidden;*/
}

div.main_publicar_formulario_fila {
	overflow: hidden;
}

div.main_publicar_formulario_fila_nombre_campo {
	float: left;
	width: 512px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	/*overflow: hidden;*/
}

p.main_publicar_formulario_fila_nombre_campo {
	text-align: right;
}

span.main_publicar_formulario_fila_nombre_campo {
	font-size: 14pt;
}

div.main_publicar_formulario_fila_campo {
	float: left;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	margin-left: 5px;
}

input.main_publicar_formulario_fila_campo {
	height: 25px;
	border: 1px solid black;
	font-size: 12pt;
	background-color: transparent;
	width: 250px;
}

div.main_publicar_formulario_fila_submit {
	overflow: hidden;
	text-align: center;
}

input.main_publicar_formulario_fila_campo_submit {
	height: 25px;
	border: 1px solid black;
	font-size: 12pt;
	background-color: #EEEEEE;
}

div.main_publicar_formulario_fila_campo_borde_select {
	border: 1px solid black;
	height: 25px;
	line-height: 25px;
	vertical-align: top;
	float: left;
	overflow: hidden;
	margin-top: 1px;
}

select.main_publicar_formulario_fila_campo {
	height: 25px;
	border: 0px;
	font-size: 12pt;
	background-color: #EAF8FF;
}

option.main_publicar_formulario_fila_campo {
	font-size: 12pt;
	background-color: #EAF8FF;
}

div.main_publicar_formulario_fila_textarea {
	overflow: hidden;
	height: 230px!important;
}

div.main_publicar_formulario_fila_campo_textarea {
	float: left;
	height: 235px!important;
	line-height: 235px;
	margin-left: 5px;
}

textarea.main_publicar_formulario_fila_campo {
	height: 225px;
	border: 1px solid black;
	font-size: 12pt;
	background-color: transparent;
	width: 300px;
	margin-top: 1px;
}

input.main_publicar_formulario_fila_campo_file {
	font-size: 12pt;
	background-color: transparent;
}

div.main_ficha_titulo_principal {
	text-align: center;
}

p.main_ficha_titulo_principal {
	margin-top: 6px;
	margin-bottom: 6px;
}

span.main_ficha_titulo_principal {
	font-size: 14pt;
}

div.main_ficha_datos {
	
}

p.main_ficha_datos {
	margin-left: 15px;
	margin-right: 15px;
	text-align: justify;
}

span.main_ficha_datos_campo {
	font-weight: bold;
	font-size: 14pt;
}

span.main_ficha_datos_valor {
	font-size: 14pt;
	color: green;
}

div.main_ficha_fotos {
	
}

div.main_ficha_fotos_foto {
	
}

div.footer {
	border: 1px solid black;
}

span.footer {
	font-size: 11pt;
}

img.footer_w3c {
	border: 0px;
}